@import "./reset.css";

:root {

    /* Background */
    --app-dark-bg: #201c22;
    --app-dark-light-bg: #2a262d;
    --app-light-bg: #eee;

    /* Font */
    --app-dark-font: #838383;
    --app-dark-light-font: #878787;
    --app-font-color: #f2f4f6;

    /* General basic color */
    --app-blue: #09f;
    --app-green: #9f0;
    --app-orange: #f90;
    --app-pink: #f09;
    --app-purple: #90f;
}

html {
    scroll-behavior: smooth;   
}
      
body {
    background: linear-gradient(-45deg, #3d849c, #2e2c2d, #3e3f3f, #133f54);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
}

/* - - - - - - - - - - - - - - - -
            LOGIN PAGE
- - - - - - - - - - - - - - - - - */ 

.log {
    max-width: 500px;
    border-radius: 5px;
    margin: 128px auto;
    padding: 40px;
    color: var(--app-dark-light-font);
    background-color: var(--app-dark-light-bg);
    background: url('../img/darkbg.png');
    background-size: cover;
    background-repeat: no-repeat;
    animation: loadIn 1s;

    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.218);
}

.wrapper {
    padding: 10px;
}

.wrapper-in {
    margin: 0 auto;
    padding: 20px;
}

#welcome {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}

.incorrect {
    height: 45px;
    background-color: #b81a1a;
    border-radius: 5px;
    padding: 12px;
    font-size: 14px;
    color: var(--app-font-color);
    margin-bottom: 4px;
    text-align: center;
    display: none;
}

h4 {
    margin-top: 5px;
    font-size: 14px;
    color: rgb(97, 134, 158);
}

h4:hover {
    cursor: pointer;
    text-decoration: underline;
}

input, button {
    padding: 12px;
    border-radius: 2px;
    border: 1px solid var(--app-light-bg);
}

input {
    width: 380px;
    margin: 5px 0;
    display: inline-block;
}

.login {
    font-size: 16px;
    width: 380px;
    margin-top: 30px;
    background-color: var(--app-blue);
    color: var(--app-font-color);
    border-color: var(--app-blue);
}

.signup {
    background-color: #fff;
    color: var(--app-blue);
    border-color: var(--app-blue);
}

/* - - - - - - - - - - - - - - - - - - -
            ANIMATION
- - - - - - - - - - - - - - - - - - - - */

@keyframes loadIn {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }    
    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}